import './component';
import './preview';

Shopware.Service('cmsService').registerCmsBlock({
    name: '##name##',
    label: 'sw-cms.blocks.commerce.##name##.label',
    category: '##block-type##',
    component: '##component-class##',
    previewComponent: '##preview-class##',
    defaultConfig: {
        marginBottom: null,
        marginTop: null,
        marginLeft: null,
        marginRight: null,
    },
    slots: {
        '': ''
    }
});

